<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cortex</string>
	<key>CFBundleExecutable</key>
	<string>Cortex</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.cortex.doppl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cortex</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>48</string>
	<key>CortexDistributionMode</key>
	<string>direct</string>
	<key>CortexGitHubOAuthClientID</key>
	<string>Ov23liwB0zkC2Qac88ig</string>
	<key>CortexGoogleOAuthClientID</key>
	<string></string>
	<key>CortexHostedAPIURL</key>
	<string>https://api.signindoppl.com</string>
	<key>CortexMicrosoftOAuthClientID</key>
	<string></string>
	<key>CortexNotionOAuthClientID</key>
	<string></string>
	<key>CortexReleaseChannel</key>
	<string>local-beta</string>
	<key>CortexRequireAccount</key>
	<string>true</string>
	<key>CortexUpdateFeedURL</key>
	<string>https://api.signindoppl.com/downloads/latest.json</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 Cortex</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Cortex captures a region of your screen to read highlighted text so you can save it to your memory. This feature is optional and only runs when you trigger a capture.</string>
</dict>
</plist>
